{% macro render_main_menu() -%}
<li>{{ resource.meta.language }}</li>
{% set lang_root = site.content.node_from_relative_path(resource.meta.language|default('en')) %}
{% for menu_item in lang_root.child_nodes|sort(attribute='name') %}
    {% if menu_item.meta.listable %}
        <li{% if menu_item.full_url in resource.full_url %} class="active"{% endif %}>
            <a href="{{ menu_item.full_url }}">
            {% if menu_item.meta.icon %}
            <span class="glyphicon glyphicon-{{menu_item.meta.icon}}"></span>
            {% endif %}
            {{ menu_item.meta.title|capitalize }}
            </a>
        </li>
    {% endif %}
{%- endfor %}
{%- endmacro %}

{% macro render_sidebar() -%}
<ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
{% for sidebar_item in sidebar -%}
  <li{% if sidebar_item.url == resource.url or sidebar_item.active %} class="active"{% endif %}><a href="{{ sidebar_item.url }}">{{ sidebar_item.title }}</a></li>
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_excerpt(res, class=None) %}
{% refer to res.relative_path as post %}
<div class="container">
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<p><small>
  <time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
      {{ resource.meta.l10n.posted }}: {{ res.meta.created.strftime('%a, %d %b %Y') }}
  </time>
</small></p>
{{ post.excerpt|markdown|typogrify }}<a href="{{ content_url(res.url) }}">{{ resource.meta.l10n.readmore }}&hellip;</a>
</div>
{% endmacro %}



<!--  vim: set filetype=htmldjango: -->
