{% extends "topbar.j2" %}

{% block container %}
{% set tag_dict = {} %}
{% for tag, meta in site.tagger.tags %}
   {% set tag_res = [] %}
   {% for res in meta.resources %}
      {% set lang_root = site.content.source_folder.child_folder(res.meta.language) %}
      {% if resource.node.source_folder.is_descendant_of(lang_root) or resource.node.source_folder == lang_root %}
      {% do tag_res.append(res) %}
      {% endif %}
   {% endfor %}
   {% do tag_dict.update({meta.name: tag_res}) %}
{% endfor %}
<section class="archives">
<h1>{{ tag.name }}</h1>
{% for resource in tag_dict[tag.name] -%}
<div class="row-fluid">
    <div class="span2">
    <small><time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
        {{ resource.meta.created.strftime('%a, %d %b %Y') }}
    </time></small>
    </div>
    <div class="span7">
    <strong><a href="{{ content_url(resource.url) }}">{{ resource.meta.title }}</a></strong>
    </div>
    <div class="span3"><div class="pull-right">
    {% if resource.meta.tags %}
    {% set browser_lang = resource.meta.language %}
    {% for tag in resource.meta.tags %}
        {% set tag_url = browser_lang + content_url('tags/'~tag~'.html') %}
        <span class="badge badge-inverse"><a href="/{{ tag_url }}">{{ tag }}</a></span>
    {% endfor %}
    {% endif %}
    </div></div>
</div>
{%- endfor %}
</section>
{% endblock %}
